body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
}

header {
    background-color: #314b57;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: initial;
}

.header-content {
    padding: 15px;
}

.header-content h1 {
    font-size: 22px;
    display: table-cell;
    padding-bottom: 10px;
}

.map img {
    max-width: 500px;
    height: auto;
}

header h1 {
    color: #fff;
    margin-bottom: 20px;
}

nav {
    display: flex;
    zoom: 1.4;
}

nav a {
    margin: 0 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 5px;
}

header > a img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

.service-area {
    max-width: 1200px;
    margin: 40px auto;
}

.service-area h2 {
    color: #ab3c3c;
    font-size: 45px;
    margin-bottom: 20px;
    text-align: left;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-content img {
    max-width: 50%;
    height: auto;
}

.service-content div {
    flex: 1;
}

.service-area p {
    color: #333;
    margin: 20px 0;
    text-align: left;
}

.service-area a {
    color: #ab3c3c;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    text-align: left;
}

a.heating-text {
    display: contents;
    color: #314b57;
    font-weight: 600;
}

.articles {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.articles h2 {
    color: #ab3c3c;
    font-size: 34px;
    margin-bottom: 20px;
    text-align: left;
}

.article-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.articles article {
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

.articles article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.articles article p {
    color: #333;
    text-align: left;
}

.articles article a {
    color: #ab3c3c;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: left;
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: start;
    }

    .map img {
        max-width: 100%;
    }

    nav {
        flex-direction: column;
    }

    .service-content {
        flex-direction: column;
    }

    .article-list {
        flex-direction: column;
        align-items: center;
    }

    .service-area {
        padding: 20px;
    }
}

@media (max-width: 1024px) {
    nav {
        zoom: 1;
    }
}
